$w: #fff;
$grey: #333333;
$greylight: #707070;
$jaune: #ffea00;
$blue: #213564;
$greenclair: #bcc602;
$fontlight: 'Avenir Light',Arial,Helvetica,Sans-serif;
$fontneo: 'Titillium Web',Arial,Helvetica,Sans-serif;
$font: 'Avenir Book',Arial,Helvetica,Sans-serif;
$fontb: 'Avenir Black',Arial,Helvetica,Sans-serif;
$fontLato: 'Lato',Arial,Helvetica,Sans-serif;


